<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
>

	<f:metadata>
		<f:viewParam name="orderBy" value="#{adminAdminMgmtHandler.orderBy}" />
		<f:viewParam name="orderColumn" value="#{adminAdminMgmtHandler.orderColumn}" />
		<f:event type="preRenderView" listener="#{adminLoginHandler.pruefeAdminBerechtigung()}" />
	    <f:event type="preRenderView" listener="#{adminAdminMgmtHandler.initAdminAdminListe()}" />
	</f:metadata>

	<h:head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>
			<ui:insert name="title">Administration - Dein Getränke Shop am Meer!</ui:insert>
		</title>
		
		<base href="#{request.requestURL.substring(0, request.requestURL.length() - request.requestURI.length())}#{request.contextPath}/" />
		
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
		<link rel="stylesheet" href="assets/css/app.css" type="text/css" />
		<script src="assets/js/jquery-3.2.1.slim.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		
	</h:head>
	<h:body styleClass="d-flex flex-column h-100">
	
		<ui:include src="/admin/navbar_admin.xhtml" />
		
		<main role="main" class="flex-shrink-0 mt-5">
		  <div class="container">
		  
		  <div class="d-flex">
		  	<h1>Admins</h1>
		  	<div class="ml-auto">
		  		<a href="admin/admins_neu.xhtml">
		  			<button class="btn btn-primary">
		  				Erstellen
		  			</button>
		  		</a>
		  	</div>
		  </div>


			<h:dataTable value="#{adminAdminMgmtHandler.admins}" var="a" styleClass="table">
			   <h:column>    				
				      <f:facet name="header">
		        		 <h:link value="ID" outcome="admins">
   							<f:param name="orderBy" value="#{adminAdminMgmtHandler.orderByDienst.getOppositeOrderByType(adminAdminMgmtHandler.orderByType).toString().toUpperCase()}"/>
							<f:param name="orderColumn" value="ID" />
						</h:link>
				      </f:facet> 				
			      #{a.id}
			   </h:column>
			   <h:column>    				
				      <f:facet name="header">
		        		 <h:link value="Vorname" outcome="admins">
   							<f:param name="orderBy" value="#{adminAdminMgmtHandler.orderByDienst.getOppositeOrderByType(adminAdminMgmtHandler.orderByType).toString().toUpperCase()}"/>
							<f:param name="orderColumn" value="VORNAME" />
						</h:link>
				      </f:facet>    				
			      #{a.vorname}
			   </h:column>
   			   <h:column>    				
				      <f:facet name="header">
		        		 <h:link value="Nachname" outcome="admins">
   							<f:param name="orderBy" value="#{adminAdminMgmtHandler.orderByDienst.getOppositeOrderByType(adminAdminMgmtHandler.orderByType).toString().toUpperCase()}"/>
							<f:param name="orderColumn" value="NACHNAME" />
						</h:link>
				      </f:facet>     				
			      #{a.nachname}
			   </h:column>
			   <h:column>    				
				      <f:facet name="header">
		        		 <h:link value="E-Mail" outcome="admins">
   							<f:param name="orderBy" value="#{adminAdminMgmtHandler.orderByDienst.getOppositeOrderByType(adminAdminMgmtHandler.orderByType).toString().toUpperCase()}"/>
							<f:param name="orderColumn" value="EMAIL" />
						</h:link>
				      </f:facet> 			
			      #{a.email}
			   </h:column>			   
			   <h:column>
			   		<f:facet name = "header"></f:facet>
		         	<h:link value="Management" outcome="/admin/admins_mgmt">
  							<f:param name="id" value="#{a.id}"/>
					</h:link>
			   </h:column>			   
			</h:dataTable>		    

		  </div>
		</main>


	</h:body>
</html>