<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://java.sun.com/jsf/html"
>

	<f:metadata>
	    <f:viewParam name="id" value="#{adminBestellungMgmtHandler.id}" />
	    <f:event type="preRenderView" listener="#{adminLoginHandler.pruefeAdminBerechtigung()}" />
	    <f:event type="preRenderView" listener="#{adminBestellungMgmtHandler.initAdminBestellungMgmtPage()}" />
	</f:metadata>

	<h:head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>
			<ui:insert name="title">Administration - Dein Getränke Shop am Meer!</ui:insert>
		</title>
		
		<base href="#{request.requestURL.substring(0, request.requestURL.length() - request.requestURI.length())}#{request.contextPath}/" />
		
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
		<link rel="stylesheet" href="assets/css/app.css" type="text/css" />
		<script src="assets/js/jquery-3.2.1.slim.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		
	</h:head>
	<h:body styleClass="d-flex flex-column h-100">
	
		<ui:include src="/admin/navbar_admin.xhtml" />
		
		<main role="main" class="flex-shrink-0 mt-5">
		  <div class="container">
		  	<div class="d-flex">
		  	
		  		<h1>Bestellung ##{adminBestellungMgmtHandler.bestellung.id}</h1>
		  	
		  		<div class="ml-auto">
		  			<h:form id="bestellung-form-change-status">
						<h:selectOneMenu styleClass="form-control" value="#{adminBestellungMgmtHandler.bestellung.status}" >
						    <f:selectItems value="#{commonHandler.bestellungStatuses}" />
						    <f:ajax listener="#{adminBestellungMgmtHandler.aendereBestellungStatus()}" />
						</h:selectOneMenu>
		  			</h:form>
		  		</div>
		  	</div>
		    
		    <hr />

				<h:dataTable value="#{adminBestellungMgmtHandler.bestellung.bestellpositionen}" var="position" styleClass="table">
				   
				   <h:column>    				
				      <f:facet name="header">ID</f:facet>    				
				      #{position.produkt_id_a}
				   </h:column>
				   <h:column>
				      <f:facet name="header">Name</f:facet>
			         	<h:link value="#{position.produkt.name}" outcome="/admin/produkt_mgmt">
	  							<f:param name="id" value="#{position.produkt.id}"/>
						</h:link>
				   </h:column>
				   <h:column>
				      <f:facet name="header">Preis</f:facet>
				      € #{position.produkt_preis}
				   </h:column>
				   <h:column>
				      <f:facet name="header">Anzahl</f:facet>
				      #{position.anzahl}
				   </h:column>
		   		   <h:column>
				      <f:facet name="header">Summe</f:facet>
				      € #{position.produkt_preis*position.anzahl}
				   </h:column>
				</h:dataTable>
				
				<hr class="mt-5" />
				
				<div class="row mt-5">
					
					<div class="col-md-6">
					</div>
					<div class="col-md-6 text-right">
						<h5>
							<strong>
								<h:outputText value="Summe: € #{adminBestellungMgmtHandler.bestellungDienst.getPreisTotal(adminBestellungMgmtHandler.bestellung)}" />
							</strong>
						</h5>
					</div>
					
				</div>	
				
				<hr class="mt-5" />
				
				<div class="row mt-5">
					<div class="col-md-4">
						<h4><strong>Lieferadresse:</strong></h4>
						<p>#{adminBestellungMgmtHandler.bestellung.liefer_adresse_name}</p>
						<p>#{adminBestellungMgmtHandler.bestellung.liefer_adresse_strasse}</p>
						<p>#{adminBestellungMgmtHandler.bestellung.liefer_adresse_plz}, #{adminBestellungMgmtHandler.bestellung.liefer_adresse_stadt}</p>
					</div>
					
					<div class="col-md-4">
						<h4><strong>Rechnungsadresse:</strong></h4>
						<p>#{adminBestellungMgmtHandler.bestellung.rechnungs_adresse_name}</p>
						<p>#{adminBestellungMgmtHandler.bestellung.rechnungs_adresse_strasse}</p>
						<p>#{adminBestellungMgmtHandler.bestellung.rechnungs_adresse_plz}, #{adminBestellungMgmtHandler.bestellung.rechnungs_adresse_stadt}</p>
					</div>
					
					<div class="col-md-4">
						<h4><strong>Kunde:</strong></h4>
						<ui:fragment rendered="#{adminBestellungMgmtHandler.bestellung.kunde!=null}">
							<p><strong>ID:</strong> #{adminBestellungMgmtHandler.bestellung.kunde.id}</p>
							<p><strong>Vorname:</strong> #{adminBestellungMgmtHandler.bestellung.kunde.vorname}</p>
							<p><strong>Nachname:</strong> #{adminBestellungMgmtHandler.bestellung.kunde.nachname}</p>
							<p><strong>E-Mail:</strong> #{adminBestellungMgmtHandler.bestellung.kunde.email}</p>
						</ui:fragment>
						<ui:fragment rendered="#{adminBestellungMgmtHandler.bestellung.kunde==null}">
							Der Kunde wurde gelöscht. Aus diesem Grund können keine Daten mehr bereitgestellt werden. Kontaktdaten finden Sie auch über die "Lieferadresse" und "Rechnungsadresse".
						</ui:fragment>
					</div>
				</div>

		    
		  </div>
		</main>


	</h:body>
</html>