<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
>

	<f:metadata>
		<f:viewParam name="orderBy" value="#{adminBestellungMgmtHandler.orderBy}" />
		<f:viewParam name="orderColumn" value="#{adminBestellungMgmtHandler.orderColumn}" />
		<f:event type="preRenderView" listener="#{adminLoginHandler.pruefeAdminBerechtigung()}" />
	    <f:event type="preRenderView" listener="#{adminBestellungMgmtHandler.initAdminBestellungenListe()}" />
	</f:metadata>

	<h:head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>
			<ui:insert name="title">Administration - Dein Getränke Shop am Meer!</ui:insert>
		</title>
		
		<base href="#{request.requestURL.substring(0, request.requestURL.length() - request.requestURI.length())}#{request.contextPath}/" />
		
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
		<link rel="stylesheet" href="assets/css/app.css" type="text/css" />
		<script src="assets/js/jquery-3.2.1.slim.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
				
	</h:head>
	<h:body styleClass="d-flex flex-column h-100">
	
		<ui:include src="/admin/navbar_admin.xhtml" />
		
		<main role="main" class="flex-shrink-0 mt-5">
		  <div class="container">
		    <h1>Bestellungen</h1>


			<ui:fragment rendered="#{adminBestellungMgmtHandler.bestellungen.size()>0}">
				<h:dataTable value="#{adminBestellungMgmtHandler.bestellungen}" var="bestellung" styleClass="table">
				   <h:column>    				
				      <f:facet name="header">
		        		 <h:link value="ID" outcome="bestellungen">
   							<f:param name="orderBy" value="#{adminBestellungMgmtHandler.orderByDienst.getOppositeOrderByType(adminBestellungMgmtHandler.orderByType).toString().toUpperCase()}"/>
							<f:param name="orderColumn" value="ID" />
						</h:link>
				      </f:facet>    				
				      #{bestellung.id}
				   </h:column>
				   <h:column>
				      <f:facet name="header">
		        		 <h:link value="Liefer Name" outcome="bestellungen">
   							<f:param name="orderBy" value="#{adminBestellungMgmtHandler.orderByDienst.getOppositeOrderByType(adminBestellungMgmtHandler.orderByType).toString().toUpperCase()}"/>
							<f:param name="orderColumn" value="LIEFER_ADRESSE_NAME" />
						</h:link>
				      </f:facet> 
				      #{bestellung.liefer_adresse_name}
				   </h:column>
				   <h:column>
				      <f:facet name="header">
		        		 <h:link value="Rechnungs Name" outcome="bestellungen">
   							<f:param name="orderBy" value="#{adminBestellungMgmtHandler.orderByDienst.getOppositeOrderByType(adminBestellungMgmtHandler.orderByType).toString().toUpperCase()}"/>
							<f:param name="orderColumn" value="RECHNUNGS_ADRESSE_NAME" />
						</h:link>
				      </f:facet>
				      #{bestellung.rechnungs_adresse_name}
				   </h:column>
		   		   <h:column>
				      <f:facet name="header">
		        		 <h:link value="Bestelldatum" outcome="bestellungen">
   							<f:param name="orderBy" value="#{adminBestellungMgmtHandler.orderByDienst.getOppositeOrderByType(adminBestellungMgmtHandler.orderByType).toString().toUpperCase()}"/>
							<f:param name="orderColumn" value="ERSTELLT_ZEIT" />
						</h:link>
				      </f:facet>
						<h:outputText value="#{bestellung.erstellt_zeit}" >
						    <f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
						</h:outputText>
				   </h:column>
   		   		   <h:column>
				      <f:facet name="header">
		        		 <h:link value="Status" outcome="bestellungen">
   							<f:param name="orderBy" value="#{adminBestellungMgmtHandler.orderByDienst.getOppositeOrderByType(adminBestellungMgmtHandler.orderByType).toString().toUpperCase()}"/>
							<f:param name="orderColumn" value="STATUS" />
						</h:link>
				      </f:facet>
						#{bestellung.status}
				   </h:column>
	   			   <h:column>
				   		<f:facet name = "header"></f:facet>
			         	<h:link value="Details" outcome="/admin/bestellung_mgmt">
	  							<f:param name="id" value="#{bestellung.id}"/>
						</h:link>
			   		</h:column>
				</h:dataTable>
			</ui:fragment>
			
			<ui:fragment rendered="#{adminBestellungMgmtHandler.bestellungen.size()==0}">
				Zurzeit existieren noch keine Bestellungen.
			</ui:fragment>

		    
		  </div>
		</main>


	</h:body>
</html>