<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://java.sun.com/jsf/html"
>

	<f:metadata>
	    <f:viewParam name="id" value="#{adminHerstellerMgmtHandler.id}" />
	    <f:event type="preRenderView" listener="#{adminLoginHandler.pruefeAdminBerechtigung()}" />
	    <f:event type="preRenderView" listener="#{adminHerstellerMgmtHandler.initAdminHerstellerMgmtPage()}" />
	</f:metadata>

	<h:head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>
			<ui:insert name="title">Administration - Dein Getränke Shop am Meer!</ui:insert>
		</title>
		
		<base href="#{request.requestURL.substring(0, request.requestURL.length() - request.requestURI.length())}#{request.contextPath}/" />
		
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
		<link rel="stylesheet" href="assets/css/app.css" type="text/css" />
		<script src="assets/js/jquery-3.2.1.slim.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
			
	</h:head>
	<h:body styleClass="d-flex flex-column h-100">
	
		<ui:include src="/admin/navbar_admin.xhtml" />
		
		<main role="main" class="flex-shrink-0 mt-5">
		  <div class="container">
		    <h1>Hersteller Management</h1>


			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
							<h:form id="hersteller-form-mgmt-edit">
							
   								<div class="form-group">
									<h:outputLabel for="name"><strong>Name:</strong></h:outputLabel>
								    <h:inputText styleClass="form-control" id="name" value="#{adminHerstellerMgmtHandler.hersteller.name}" required="true" requiredMessage="Bitte geben Sie einen Namen ein!"/>				    
							    	<p:message for="name" styleClass="text-danger" />
								</div>
								
								<div class="row">
									<div class="col-md-6">
										<h:commandButton styleClass="btn btn-primary" id="submit-button" value="Änderungen speichern" action="#{adminHerstellerMgmtHandler.speichereAenderungen()}"/>
									</div>
									<div class="col-md-6 text-right">
										<h:commandButton styleClass="btn btn-danger" id="delete-button" value="Löschen" action="#{adminHerstellerMgmtHandler.loeschen()}"/>
									</div>
								</div>
								
								<p:message for="delete-button" styleClass="text-danger" />
								
							
								
							</h:form>
						</div>
					</div>
				</div>
				
				
			</div>	    

		    
		  </div>
		</main>


	</h:body>
</html>