<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://java.sun.com/jsf/html"
>

	<f:metadata>
	    <f:viewParam name="id" value="#{adminKundenMgmtHandler.id}" />
	    <f:event type="preRenderView" listener="#{adminLoginHandler.pruefeAdminBerechtigung()}" />
	    <f:event type="preRenderView" listener="#{adminKundenMgmtHandler.initAdminKundeMgmtPage()}" />
	</f:metadata>

	<h:head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>
			<ui:insert name="title">Administration - Dein Getränke Shop am Meer!</ui:insert>
		</title>
		
		<base href="#{request.requestURL.substring(0, request.requestURL.length() - request.requestURI.length())}#{request.contextPath}/" />
		
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
		<link rel="stylesheet" href="assets/css/app.css" type="text/css" />
		<script src="assets/js/jquery-3.2.1.slim.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		
	</h:head>
	<h:body styleClass="d-flex flex-column h-100">
	
		<ui:include src="/admin/navbar_admin.xhtml" />
		
		<main role="main" class="flex-shrink-0 mt-5">
		  <div class="container">
		    <h1>Kunden Management</h1>


			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
							<h:form id="kunde-form-mgmt-edit">

								<div class="form-group">
									<h:outputLabel for="vorname"><strong>Vorname:</strong></h:outputLabel>
								    <h:inputText styleClass="form-control" id="vorname" value="#{adminKundenMgmtHandler.kunde.vorname}" required="true" requiredMessage="Bitte geben Sie einen Vornamen ein!"/>				    
							    	<p:message for="vorname" styleClass="text-danger" />
								</div>
								
								<div class="form-group">
									<h:outputLabel for="nachname"><strong>Nachname:</strong></h:outputLabel>
								    <h:inputText styleClass="form-control" id="nachname" value="#{adminKundenMgmtHandler.kunde.nachname}" required="true" requiredMessage="Bitte geben Sie einen Nachnamen ein!"/>				    
							    	<p:message for="nachname" styleClass="text-danger" />
								</div>
														
						    	<div class="form-group">
						    		<h:outputLabel for="email"><strong>E-Mail:</strong></h:outputLabel>
   								    <h:inputText styleClass="form-control" id="email" value="#{adminKundenMgmtHandler.kunde.email}" required="true" label="Email" validatorMessage="Bitte geben Sie eine gültige E-Mail Adresse ein!" requiredMessage="Bitte geben Sie eine E-Mail Adresse ein!">
								    	<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
									</h:inputText>
									<p:message for="email" styleClass="text-danger" />
						    	</div>	
								
								<div class="row">
									<div class="col-md-6">
										<h:commandButton styleClass="btn btn-primary" id="submit-button" value="Änderungen speichern" action="#{adminKundenMgmtHandler.speichereAenderungen()}"/>
									</div>
									<div class="col-md-6 text-right">
										<h:commandButton styleClass="btn btn-danger" id="delete-button" value="Löschen" action="#{adminKundenMgmtHandler.loescheKunden()}"/>
									</div>
								</div>
								
								<p:message for="submit-button" styleClass="text-danger" />
								
							
								
							</h:form>
						</div>
					</div>
				</div>
				
				
			</div>	    

		    
		  </div>
		</main>


	</h:body>
</html>