<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://java.sun.com/jsf/html"
>

		<header class="mb-5">
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			    <a class="navbar-brand" href="admin/index.xhtml">Administration</a>
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarCollapse">
			      <ul class="navbar-nav mr-auto">
			      	  <li class="nav-item">
			          	<a class="nav-link" href="admin/index.xhtml">Startseite</a>
			          </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Produkte
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="admin/produkte.xhtml">Produkte</a>
				          <a class="dropdown-item" href="admin/hersteller.xhtml">Hersteller</a>
				        </div>
				      </li>
      			        <li class="nav-item">
			                <a class="nav-link" href="admin/kunden.xhtml">
			                	Kunden
			                </a>
			            </li>
       			        <li class="nav-item">
			                <a class="nav-link" href="admin/bestellungen.xhtml">
			                	Bestellungen
			                </a>
			            </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Einstellungen
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="admin/admins.xhtml">Admins</a>
				        </div>
				      </li>
			      </ul>
    	          <ul class="navbar-nav">
     			        <li class="nav-item">
			                <a class="nav-link" href="index.xhtml">
			                	Zum Shop
			                </a>
			            </li>
	   			            <li class="nav-item">
	   			            	<h:form>
				                	<h:commandLink styleClass="nav-link" action="#{adminLoginHandler.logout()}">
				                		<i class="fas fa-sign-out-alt"></i> Abmelden
				                	</h:commandLink>
	   			            	</h:form>
				            </li>
		        </ul>
			    </div>
			  </nav>
		</header>
		
		<noscript>
			<div class="alert alert-warning mt-5" role="alert">
		  		<strong>Aktivieren Sie Javascript um alle Funktionen nutzen zu können!</strong>
			</div>
		</noscript>
		
</ui:composition>