<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://java.sun.com/jsf/html"
>

	<f:metadata>
	    <f:event type="preRenderView" listener="#{adminLoginHandler.pruefeAdminBerechtigung()}" />
	    <f:event type="preRenderView" listener="#{adminProduktMgmtHandler.initAdminProduktNeuPage()}" />
	</f:metadata>

	<h:head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>
			<ui:insert name="title">Administration - Dein Getränke Shop am Meer!</ui:insert>
		</title>
		
		<base href="#{request.requestURL.substring(0, request.requestURL.length() - request.requestURI.length())}#{request.contextPath}/" />
		
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
		<link rel="stylesheet" href="assets/css/app.css" type="text/css" />
		<script src="assets/js/jquery-3.2.1.slim.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
			
	</h:head>
	<h:body styleClass="d-flex flex-column h-100">
	
		<ui:include src="/admin/navbar_admin.xhtml" />
		
		<main role="main" class="flex-shrink-0 mt-5">
		  <div class="container mt-5">
		    <h1>Produkt erstellen</h1>


			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
						
							<ui:fragment rendered="#{adminProduktMgmtHandler.hersteller.size()>0}">
								<h:form enctype="multipart/form-data" id="produkt-form-neu">
	   								<div class="form-group">
										<h:outputLabel for="name"><strong>Name:</strong></h:outputLabel>
									    <h:inputText styleClass="form-control" id="name" value="#{adminProduktMgmtHandler.produktNeu.name}" required="true" requiredMessage="Bitte geben Sie einen Namen ein!"/>				    
								    	<p:message for="name" styleClass="text-danger" />
									</div>
	
	   								<div class="form-group">
										<h:outputLabel for="preis"><strong>Preis:</strong></h:outputLabel>
									    <h:inputText styleClass="form-control" id="preis" value="#{adminProduktMgmtHandler.produktNeu.preis}" required="true" requiredMessage="Bitte geben Sie einen Preis ein!">
									    	 <f:converter converterId="javax.faces.Double" />
									    </h:inputText>				    
								    	<p:message for="preis" styleClass="text-danger" />
									</div>
									
									<div class="form-group">
										<h:outputLabel for="beschreibung"><strong>Beschreibung:</strong></h:outputLabel>
										<h:inputTextarea styleClass="form-control" id="beschreibung" row="10" col="10" value="#{adminProduktMgmtHandler.produktNeu.beschreibung}" required="true" requiredMessage="Bitte geben Sie eine Beschreibung ein!" />
										<p:message for="beschreibung" styleClass="text-danger" />
									</div>
			
									<div class="form-group">
										<h:outputLabel for="hersteller"><strong>Hersteller:</strong></h:outputLabel>
										<h:selectOneMenu styleClass="form-control" id="hersteller" value="#{adminProduktMgmtHandler.produktNeu.hersteller.id}">
											
									     	<f:selectItems value="#{adminProduktMgmtHandler.hersteller}" var="hersteller" itemLabel="#{hersteller.name}" itemValue="#{hersteller.id}" />
										</h:selectOneMenu>
										<p:message for="hersteller" styleClass="text-danger" />
									</div>
									
									<div class="form-group">
										<h:outputLabel for="gesperrt"><strong>Gesperrt:</strong></h:outputLabel>
										<h:selectOneMenu styleClass="form-control" id="gesperrt" value="#{adminProduktMgmtHandler.produktNeu.gesperrt}">
										    <f:selectItem itemLabel="Ja" itemValue="true"/>
									     	<f:selectItem itemLabel="Nein" itemValue="false"/>
										</h:selectOneMenu>
										<small id="gesperrtHelp" class="form-text text-muted">
											Gesperrte Produkte sind für Kunden nicht mehr aufrufbar/bestellbar.
										</small>
										<p:message for="gesperrt" styleClass="text-danger" />
									</div>
									
									<div class="form-group">
										<h:outputLabel for="bild"><strong>Bild:</strong></h:outputLabel><br />
										<h:inputFile id="bild" value="#{adminProduktMgmtHandler.imageFile}" required="true" requiredMessage="Nicht ausgewählt!" />
										<p:message for="bild" styleClass="text-danger" />
									</div>
									
								    <h:commandButton styleClass="btn btn-primary" id="submit-button" value="Erstellen" action="#{adminProduktMgmtHandler.erstelleProdukt()}"/>
									
									<p:message for="submit-button" styleClass="text-danger" />
									
								</h:form>
							</ui:fragment>
							
							<ui:fragment rendered="#{adminProduktMgmtHandler.hersteller.size()==0}">
								Es wird mindestens ein Hersteller benötigt um ein Produkt zu erstellen. Sie können <a href="admin/hersteller_neu.xhtml">hier</a> einen Hersteller erstellen.
							</ui:fragment>
							
						</div>
					</div>
				</div>
				
				
			</div>	    

		    
		  </div>
		</main>


	</h:body>
</html>