<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://java.sun.com/jsf/html"
>

	<f:metadata>
		<f:event type="preRenderView" listener="#{warenkorbHandler.initCheckoutPage()}" />
	</f:metadata>

	<h:head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>
			<ui:insert name="title">Checkout - Dein Getränke Shop am Meer!</ui:insert>
		</title>
		
		<base href="#{request.requestURL.substring(0, request.requestURL.length() - request.requestURI.length())}#{request.contextPath}/" />
		
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
		<link rel="stylesheet" href="assets/css/app.css" type="text/css" />
		
	</h:head>
	<h:body styleClass="d-flex flex-column h-100">
	
		<ui:include src="/navbar_public.xhtml" />
		
		<main role="main" class="flex-shrink-0 mt-5 mb-5">
		  <div class="container">
		    <h1>Bestellung abschließen</h1>
		    
		    <h:form id="warenkorb-form-checkout">
		    <div class="row">
		    
		    	<div class="col-md-6">
		    		<div class="card">
		    			<div class="card-body">
		    				<h4><strong>Lieferadresse:</strong></h4>
		    				<hr />
		    			
							<div class="form-group">
								<h:outputLabel for="liefer_adresse_name"><strong>Name:</strong></h:outputLabel>
							    <h:inputText styleClass="form-control" id="liefer_adresse_name" value="#{warenkorbHandler.bestellung.liefer_adresse_name}" required="true" requiredMessage="Bitte geben Sie einen Namen ein!"/>				    
						    	<p:message for="liefer_adresse_name" styleClass="text-danger" />
							</div>
							
							<div class="form-group">
								<h:outputLabel for="liefer_adresse_strasse"><strong>Straße:</strong></h:outputLabel>
							    <h:inputText styleClass="form-control" id="liefer_adresse_strasse" value="#{warenkorbHandler.bestellung.liefer_adresse_strasse}" required="true" requiredMessage="Bitte geben Sie eine Straße ein!"/>				    
						    	<p:message for="liefer_adresse_strasse" styleClass="text-danger" />
							</div>

							<div class="form-group">
								<h:outputLabel for="liefer_adresse_plz"><strong>Postleitzahl:</strong></h:outputLabel>
							    <h:inputText styleClass="form-control" id="liefer_adresse_plz" value="#{warenkorbHandler.bestellung.liefer_adresse_plz}" required="true" requiredMessage="Bitte geben Sie eine Postleitzahl ein!"/>				    
						    	<p:message for="liefer_adresse_plz" styleClass="text-danger" />
							</div>
							
							<div class="form-group">
								<h:outputLabel for="liefer_adresse_stadt"><strong>Stadt:</strong></h:outputLabel>
							    <h:inputText styleClass="form-control" id="liefer_adresse_stadt" value="#{warenkorbHandler.bestellung.liefer_adresse_stadt}" required="true" requiredMessage="Bitte geben Sie eine Stadt ein!"/>				    
						    	<p:message for="liefer_adresse_stadt" styleClass="text-danger" />
							</div>
							
		    			</div>
		    		</div>
		    	</div>
		    	
		    	<div class="col-md-6">
		    		<div class="card">
		    			<div class="card-body">
		    				<h4><strong>Rechnungsadresse:</strong></h4>
		    				<hr />
		    			
							<div class="form-group">
								<h:outputLabel for="rechnungs_adresse_name"><strong>Name:</strong></h:outputLabel>
							    <h:inputText styleClass="form-control" id="rechnungs_adresse_name" value="#{warenkorbHandler.bestellung.rechnungs_adresse_name}" required="true" requiredMessage="Bitte geben Sie einen Namen ein!"/>				    
						    	<p:message for="rechnungs_adresse_name" styleClass="text-danger" />
							</div>
							
							<div class="form-group">
								<h:outputLabel for="rechnungs_adresse_strasse"><strong>Straße:</strong></h:outputLabel>
							    <h:inputText styleClass="form-control" id="rechnungs_adresse_strasse" value="#{warenkorbHandler.bestellung.rechnungs_adresse_strasse}" required="true" requiredMessage="Bitte geben Sie eine Straße ein!"/>				    
						    	<p:message for="rechnungs_adresse_strasse" styleClass="text-danger" />
							</div>

							<div class="form-group">
								<h:outputLabel for="rechnungs_adresse_plz"><strong>Postleitzahl:</strong></h:outputLabel>
							    <h:inputText styleClass="form-control" id="rechnungs_adresse_plz" value="#{warenkorbHandler.bestellung.rechnungs_adresse_plz}" required="true" requiredMessage="Bitte geben Sie eine Postleitzahl ein!"/>				    
						    	<p:message for="rechnungs_adresse_plz" styleClass="text-danger" />
							</div>
							
							<div class="form-group">
								<h:outputLabel for="rechnungs_adresse_stadt"><strong>Stadt:</strong></h:outputLabel>
							    <h:inputText styleClass="form-control" id="rechnungs_adresse_stadt" value="#{warenkorbHandler.bestellung.rechnungs_adresse_stadt}" required="true" requiredMessage="Bitte geben Sie eine Stadt ein!"/>				    
						    	<p:message for="rechnungs_adresse_stadt" styleClass="text-danger" />
							</div>
							
		    			</div>
		    		</div>		    	
		    	</div>
		    	
		    </div>
		    
		    <div class="card mt-5">
		    	<div class="card-body text-center">
					<div class="form-group">
						<h:commandButton styleClass="btn btn-primary" id="submit-button" value="Kostenpflichtig bestellen" action="#{warenkorbHandler.fuehreBestellungAus()}"/>
		    		</div>
		    		<p:message for="submit-button" styleClass="text-danger" />
		    		
		    	</div>
		    </div>
		    
		    </h:form>
		    
		    
		  </div>
		</main>


	</h:body>
</html>