<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"

         xmlns:p="http://java.sun.com/jsf/html">

	<h:head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>
			<ui:insert name="title">Dein Getränke Shop am Meer!</ui:insert>
		</title>
		
		<base href="#{request.requestURL.substring(0, request.requestURL.length() - request.requestURI.length())}#{request.contextPath}/" />
		
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
		<link rel="stylesheet" href="assets/css/app.css" type="text/css" />
		
	</h:head>
	<h:body styleClass="d-flex flex-column h-100">
	
		<ui:include src="/navbar_public.xhtml" />
		
		<main role="main" class="flex-shrink-0 mt-5 mb-5">
		  <div class="container">
		  
		    <h1>Dein Getränke Shop am Meer!</h1>		    
		    
		    <hr />
		    
		    <div class="row">
		    	<div class="col-md-4"></div>
		    	<div class="col-md-4"></div>
		    	<div class="col-md-4">
		  			<h:form id="index-produkte-form-sortieren">
						<h:selectOneMenu styleClass="form-control" value="#{produkteHandler.sortierung}">
						    <f:selectItems 
						    	value="#{commonHandler.produkteSortierAuswahlmoeglichkeiten}"
						    	var="sortierung"
    							itemValue="#{sortierung}" itemLabel="#{sortierung.label}" 
   							/>
						    <f:ajax listener="#{produkteHandler.sortierungAendern()}" render="index_produkte_liste" />
						</h:selectOneMenu>
		 			</h:form>
		    	</div>
		    </div>
		    
		    <p:panelGroup id="index_produkte_liste">
				
				<div class="row mb-3">
					<ui:repeat value="#{produkteHandler.produkteNichtGesperrt}" var="produkt">
						<div class="col-md-4 mt-3">
							<div class="card">
		  						<img class="card-img-top mt-3 mb-3" src="/gws-produkt-bilder/#{produkt.bild}" alt="Kein Bild :(" />
						  		<div class="card-body">
		    						<h5 class="card-title text-center">
		    							<h:outputText value="#{produkt.name}" />
		    							<br />
		    							<strong>
		    								€ <h:outputText value="#{produkt.preis}" />
	    								</strong>
		    						</h5>
		    						
		    						<p class="card-text text-center">
	    						         <h:link value="Produkt ansehen" outcome="produkt_details">
                							<f:param name="id" value="#{produkt.id}"/>
            							</h:link>
		    						</p>
		  						</div>
							</div>
						</div>				
					</ui:repeat>				
				</div>

			</p:panelGroup>
		    
		    
		  </div>
		</main>


	</h:body>
</html>