<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"

         xmlns:p="http://java.sun.com/jsf/html">

	<f:metadata>
		<f:viewParam name="onFinishGoTo" value="#{kundenLoginHandler.onFinishGoTo}" />
	    <f:event type="preRenderView" listener="#{kundenLoginHandler.initLoginPage()}" />
	</f:metadata>

	<h:head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>
			<ui:insert name="title">Kundenanmeldung - Dein Getränke Shop am Meer!</ui:insert>
		</title>
		
		<base href="#{request.requestURL.substring(0, request.requestURL.length() - request.requestURI.length())}#{request.contextPath}/" />
		
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
		<link rel="stylesheet" href="assets/css/app.css" type="text/css" />
		
	</h:head>
	<h:body styleClass="d-flex flex-column h-100">
	
		<ui:include src="/navbar_public.xhtml" />
		
		<main role="main" class="flex-shrink-0 mt-5 mb-5">
		  <div class="container">
		    
		    <div class="row mt-3">
		    	<div class="col-md-6">
		    		<div class="card">
		    			<div class="card-body">
		    				
		    				<h4>
		    					<strong>
		    						Anmelden
		    					</strong>
		    				</h4>
		    				<hr />
						    <h:form id="kunden-form-login">
						    	<div class="form-group">
						    		<h:outputLabel for="email"><strong>E-Mail:</strong></h:outputLabel>
   								    <h:inputText styleClass="form-control" id="email" value="#{kundenLoginHandler.credEmail}" required="true" label="Email" validatorMessage="Bitte geben Sie eine gültige E-Mail Adresse ein!" requiredMessage="Bitte geben Sie eine E-Mail Adresse ein!">
								    	<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
									</h:inputText>
									<p:message for="email" styleClass="text-danger" />
						    	</div>			    
								
								<div class="form-group">
									<h:outputLabel for="passwort"><strong>Passwort:</strong></h:outputLabel>
								    <h:inputSecret styleClass="form-control" id="passwort" value="#{kundenLoginHandler.credPasswort}" required="true" requiredMessage="Bitte geben Sie ein Passwort ein!"/>				    
							    	<p:message for="passwort" styleClass="text-danger" />
								</div>
							    
							    <h:commandButton styleClass="btn btn-primary" id="submit-button" value="Anmelden" action="#{kundenLoginHandler.anmeldungDurchfuehren()}"/>  
						    </h:form>
		    			</div>
		    		</div>
		    	</div>
		    
		    	<div class="col-md-6">
 			    		<div class="card">
		    			<div class="card-body">
		    				
		    				<h4>
		    					<strong>
		    						Registrieren
		    					</strong>
		    				</h4>
		    				<hr />
						    <h:form id="kunden-form-register">
   								<div class="form-group">
									<h:outputLabel for="register_vorname"><strong>Vorname:</strong></h:outputLabel>
								    <h:inputText styleClass="form-control" id="register_vorname" value="#{kundenLoginHandler.registerVorname}" required="true" requiredMessage="Bitte geben Sie einen Vornamen ein!"/>				    
							    	<p:message for="register_vorname" styleClass="text-danger" />
								</div>
								
								<div class="form-group">
									<h:outputLabel for="register_nachname"><strong>Nachname:</strong></h:outputLabel>
								    <h:inputText styleClass="form-control" id="register_nachname" value="#{kundenLoginHandler.registerNachname}" required="true" requiredMessage="Bitte geben Sie einen Nachnamen ein!"/>				    
							    	<p:message for="register_nachname" styleClass="text-danger" />
								</div>
						    
						    	<div class="form-group">
						    		<h:outputLabel for="register_email"><strong>E-Mail:</strong></h:outputLabel>
   								    <h:inputText styleClass="form-control" id="register_email" value="#{kundenLoginHandler.registerEmail}" required="true" label="Email" validatorMessage="Bitte geben Sie eine gültige E-Mail Adresse ein!" requiredMessage="Bitte geben Sie eine E-Mail Adresse ein!">
								    	<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
									</h:inputText>
									<p:message for="register_email" styleClass="text-danger" />
						    	</div>			    
								
								<div class="form-group">
									<h:outputLabel for="register_passwort"><strong>Passwort:</strong></h:outputLabel>
								    <h:inputSecret styleClass="form-control" id="register_passwort" value="#{kundenLoginHandler.registerPasswort}" required="true" requiredMessage="Bitte geben Sie ein Passwort ein!"/>				    
							    	<p:message for="register_passwort" styleClass="text-danger" />
								</div>
							    
							    <h:commandButton styleClass="btn btn-primary" id="submit-button" value="Registrieren" action="#{kundenLoginHandler.registrierungDurchfuehren()}"/>  
						    </h:form>
		    			</div>
		    		</div>
		    	</div>
		    
		    </div>
		    
		    
		  

				
		    
		    
		  </div>
		</main>


	</h:body>
</html>