<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://java.sun.com/jsf/html"
>

		<header>
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			    <a class="navbar-brand" href="#">GWS Bremerhaven</a>
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarCollapse">
			      <ul class="navbar-nav mr-auto">
			        <li class="nav-item active">
			          <a class="nav-link" href="index.xhtml">Unsere Produkte <span class="sr-only">(current)</span></a>
			        </li>
			      </ul>			            
	              <ul class="navbar-nav">
	              
   	              	<ui:fragment rendered="#{kundenLoginHandler.istAlsAdminAngemeldet()}">
   			            <li class="nav-item">
			                <a class="nav-link text-warning" href="admin/index.xhtml"><i class="fas fa-tachometer-alt"></i> Administration</a>
			            </li>
	              	</ui:fragment>
	              	
   			        <li class="nav-item">
		                <a class="nav-link" href="warenkorb.xhtml"><i class="fas fa-shopping-cart"></i>
		                	Warenkorb <p:panelGroup id="navbar_warenkorb_anzahl"><span class="badge badge-primary">#{warenkorbHandler.anzahlTotal}</span></p:panelGroup>
		                </a>
	            	</li>
	              	<ui:fragment rendered="#{!kundenLoginHandler.istAlsKundeAngemeldet()}">
   			            <li class="nav-item">
			                <a class="nav-link" href="kundenlogin.xhtml"><i class="fas fa-sign-in-alt"></i> Anmelden</a>
			            </li>
	              	</ui:fragment>
        		    <ui:fragment rendered="#{kundenLoginHandler.istAlsKundeAngemeldet()}">
   			            <li class="nav-item">
   			            	<h:form>
			                	<h:commandLink styleClass="nav-link" action="#{kundenLoginHandler.logout()}">
			                		<i class="fas fa-sign-out-alt"></i> Abmelden
			                	</h:commandLink>
   			            	</h:form>
			            </li>
	              	</ui:fragment>
		        </ul>
			    </div>
			  </nav>
		</header>
		
		<noscript>
			<div class="alert alert-warning mt-5" role="alert">
		  		<strong>Aktivieren Sie Javascript um alle Funktionen nutzen zu können!</strong>
			</div>
		</noscript>
		
</ui:composition>