<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	
>


	<f:metadata>
	    <f:viewParam name="id" value="#{produktDetailsHandler.id}" />
	    <f:event type="preRenderView" listener="#{produktDetailsHandler.loadProduktDetails()}" />
	</f:metadata>

	<h:head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>
			<ui:insert name="title">#{produktDetailsHandler.produkt.name} - Dein Getränke Shop am Meer!</ui:insert>
		</title>
		
		<base href="#{request.requestURL.substring(0, request.requestURL.length() - request.requestURI.length())}#{request.contextPath}/" />
		
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
		<link rel="stylesheet" href="assets/css/app.css" type="text/css" />
		
	</h:head>
	<h:body styleClass="d-flex flex-column h-100">
	
		<ui:include src="/navbar_public.xhtml" />
		
		<main role="main" class="flex-shrink-0 mt-5 mb-5">
		  <div class="container">    
		    
		    <ui:insert name="content">		
				
				<div class="row mb-3">
					<div class="col-md-6">
						<div class="card">
							<div class="card-body">
								<div align="center">
									<img class="img-fluid" src="/gws-produkt-bilder/#{produktDetailsHandler.produkt.bild}" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<h3>
							<small>
								<h:outputText value="#{produktDetailsHandler.produkt.hersteller.name}" styleClass="text-muted" />
							</small>
						</h3>
						
						<h2>
							<h:outputText value="#{produktDetailsHandler.produkt.name}" />
						</h2>
						
						<h3>
							<strong>
								<p>€ <h:outputText value="#{produktDetailsHandler.produkt.preis}" /></p>
							</strong>
							
							<h:form>
								<div class="form-group">
								    <h:selectOneMenu styleClass="form-control" value="#{produktDetailsHandler.anzahlWarenkorb}" required="true">
								    		<f:selectItems value="#{produktDetailsHandler.anzahl_select_auswahl_warenkorb}" />
								    </h:selectOneMenu>
							    </div>
							    
							    <div class="form-group">
							    <h:commandButton 
							    	styleClass="btn btn-primary btn-lg btn-block"
							    	value="IN DEN WARENKORB"
							    	action="#{warenkorbHandler.zumWarenkorbHinzufuegen(produktDetailsHandler.produkt, produktDetailsHandler.anzahlWarenkorb)}"
						    	 >
						    	 	<f:ajax render="navbar_warenkorb_anzahl" />
							    </h:commandButton>
							    </div>
							    
							    <h:messages />
							</h:form>
						</h3>
					</div>
				</div>
				
				<div class="card mt-3">
					<div class="card-body">
						<h:outputText value="#{produktDetailsHandler.produkt.beschreibung}" />
					</div>
				</div>
				
				
				<ui:fragment rendered="#{produktDetailsHandler.weitereProdukte.size()>0}">
					<div class="mt-3">
						<h4>Empfohlen: Produkte von dem gleichen Hersteller</h4>
						
						<hr />
						
						<div class="row">
							
							<ui:repeat value="#{produktDetailsHandler.weitereProdukte}" var="weiteresProdukt">
								<div class="col-md-3">
									<div class="card">
				  						<img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="#{weiteresProdukt.name} Bild" />
								  		<div class="card-body">
				    						<h5 class="card-title text-center">
				    							<h:outputText value="#{weiteresProdukt.name}" />
				    							<br />
				    							<strong>
				    								€ <h:outputText value="#{weiteresProdukt.preis}" />
			    								</strong>
				    						</h5>
				    						
				    						<p class="card-text text-center">
			    						         <h:link value="Produkt ansehen" outcome="produkt_details">
		                							<f:param name="id" value="#{weiteresProdukt.id}"/>
		            							</h:link>
				    						</p>
				  						</div>
									</div>
								</div>
							</ui:repeat>
							
						</div>
					</div>
				</ui:fragment>			
				
			</ui:insert>
		    
		    
		  </div>
		</main>


	</h:body>
</html>