<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
>
	<f:metadata>
		<f:event type="preRenderView" listener="#{warenkorbHandler.initWarenkorbPage()}" />
	</f:metadata>
	
	<h:head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>
			<ui:insert name="title">Warenkorb - Dein Getränke Shop am Meer!</ui:insert>
		</title>
		
		<base href="#{request.requestURL.substring(0, request.requestURL.length() - request.requestURI.length())}#{request.contextPath}/" />
		
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
		<link rel="stylesheet" href="assets/css/app.css" type="text/css" />
		
	</h:head>
	<h:body styleClass="d-flex flex-column h-100">
	
		<ui:include src="/navbar_public.xhtml" />
		
		<main role="main" class="flex-shrink-0 mt-5 mb-5">
		  <div class="container">
		    <h1>Warenkorb</h1>


			<ui:fragment rendered="#{warenkorbHandler.warenkorbposition_verarbeitung_only.size()>0}">
				<h:dataTable value="#{warenkorbHandler.warenkorbposition_verarbeitung_only}" var="position" styleClass="table">
				   <h:column>    				
				      <f:facet name="header">ID</f:facet>    				
				      #{position.produkt.id}
				   </h:column>
				   <h:column>
				      <f:facet name="header">Name</f:facet>
			         <h:link value="#{position.produkt.name}" outcome="produkt_details">
							<f:param name="id" value="#{position.produkt.id}"/>
					</h:link>
				   </h:column>
				   <h:column>
				      <f:facet name="header">Preis</f:facet>
				      € #{position.produkt.preis}
				   </h:column>
				   <h:column>
				      <f:facet name="header">Anzahl</f:facet>
				      #{position.warenkorbPosition.anzahl}
				   </h:column>
		   		   <h:column>
				      <f:facet name="header">Summe</f:facet>
				      € #{position.produkt.preis*position.warenkorbPosition.anzahl}
				   </h:column>
				   <h:column>
				   		<f:facet name="header"></f:facet>
				   		<h:form>
			 				<h:commandButton 
						    	styleClass="btn btn-dark btn-sm"
						    	value="Löschen"
						    	action="#{warenkorbHandler.ausDemWarenkorbEntfernen(position.warenkorbPosition)}"
				    	 	/>		   		
				   		</h:form>
				   </h:column>
				</h:dataTable>
				
				<hr class="mt-3" />
				
				<div class="row mt-3">
					
					<div class="col-md-6">
						<h:form>
			 				<h:commandButton 
						    	styleClass="btn btn-primary"
						    	value="JETZT KOSTENPFLICHTIG BESTELLEN"
						    	action="#{warenkorbHandler.geheZumCheckout()}"
				    	 	/>
						</h:form>
					</div>
					<div class="col-md-6 text-right">
						<h5>
							<strong>
								<h:outputText value="Summe: € #{warenkorbHandler.preisTotal}" />
							</strong>
						</h5>
					</div>
					
				</div>	

			</ui:fragment>
			
			<ui:fragment rendered="#{warenkorbHandler.warenkorbposition_verarbeitung_only.size()==0}">
				Du hast noch keine Produkte zu deinem Warenkorb hinzugefügt.
			</ui:fragment>

		    

		    
		  </div>
		</main>


	</h:body>
</html>